language: c
before_install:
- openssl aes-256-cbc -K $encrypted_643c5066da72_key -iv $encrypted_643c5066da72_iv
  -in .httr-oauth.enc -out .httr-oauth -d
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- "./travis-tool.sh bootstrap"
install:
- "./travis-tool.sh install_deps"
script: "./travis-tool.sh run_tests"
after_failure:
- "./travis-tool.sh dump_logs"
env:
- WARNINGS_ARE_ERRORS=1
notifications:
  email:
    on_success: change
    on_failure: change
